*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
}
body{
    background-color: black;
}
#game-section{
    height: 500px;
    width: 800px;
    margin: 70px auto;
    background-color: blue;
}
#current-details{
    height: 200px;
    width: 750px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}
#current-details p{
    height: 180px;
    width: 200px;
    background-color: black;
    color: yellow;
    text-align: center;
    margin-top: 20px;
    padding-top: 5%;
}
#game-details{
    height: 250px;
    width: 750px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#game-details{
    background-color: blue;
}
#output-el{
    background-color: black;
    color: yellow;
    padding: 10px 20px;
    font-size: 1rem;
}
#instructions-el{
    font-size: 0.8rem;
    color: yellow;
}
#button-el{
    background-color: black;
    color: yellow;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    
}
#button-el:hover{
    background-color: rgb(14, 13, 13);
}
#button-el:active{
    background-color: rgb(37, 35, 35);

}